.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

./nuvomemo-backend-firebase-adminsdk-4rwbr-9209e4a798.json
nuvomemo-backend-firebase-adminsdk-4rwbr-9209e4a798.json
